<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.InterviewRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.pojo.InterviewRecord">
        <id column="id" property="id" />
        <result column="candidate_id" property="candidateId" />
        <result column="job_name" property="jobName" />
        <result column="answer_content" property="answerContent" />
        <result column="take_time" property="takeTime" />
        <result column="result" property="result" />
        <result column="create_time" property="createTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, candidate_id, job_name, answer_content, take_time, result, create_time, updated_time
    </sql>

</mapper>
